*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: lightgrey;
    min-height: 67px;
}
#Logo{
    position: absolute;
    margin: 10px;
}
#Logo img{
    width: 50px;
}
.nav{
    display: block;
    list-style: none;
    text-align: end;
}
.nav li{
    display: inline-block;
    padding: 20px;
    padding-right: 0;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-right: solid;
    border-color: white;
    padding-right: 20px;
}
.contenedor{
    width: 100%;
    display: flex;
}
.main-content {
    background-color: grey;
    height: 80vh;
    width: 80%;
}
.main-content p{
    color:black
}
.aside {
    width: 20%;
    height: 80vh;
    background-color: hotpink;
}
aside .anuncio{
    width: 90%;
    height: 16vh;
    background-color: mediumorchid;
    margin: auto;
    margin-top: 3.2vh;
    border-radius: 5%;
}
footer{
    background-color: yellow;
    height: 10vh;
    display: flex;
}
footer p{
    margin: auto;
}
footer div{
    width: 80%;
}