*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: lightgrey;
    min-height: 67px;
    height: 10vh;
}
#Logo{
    position: absolute;
    margin: 10px;
}
#Logo img{
    width: 50px;
}
.nav{
    display: block;
    list-style: none;
    text-align: end;
}
.nav li{
    display: inline-block;
    padding: 20px;
    padding-right: 0;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-right: solid;
    border-color: white;
    padding-right: 20px;
}
aside{
    display: inline-block;
    width: 20%;
    height: 80vh;
    background-color: hotpink;
}
aside .anuncio{
    display: block;
    width: 90%;
    height: 20%;
    background-color: mediumorchid;
    margin: auto;
    margin-top: 3.2vh;
    border-radius: 5%;
}